In [1]:
tup = (12,'Neelay',21212,13.312)             #tuples
tup

(12, 'Neelay', 21212, 13.312)

In [3]:
tup[1]

'Neelay'

In [4]:
tup[1:3]

('Neelay', 21212)

In [5]:
# set (doesnt allow duplicates, immutable, un ordered, no indexing and slicing and is immutable)

In [6]:
st = {1,1,'Neelay','Neelay','Himank','Sakcham','Sid'}                    #automatically in ordered state now and repeated data is removed
st

{1, 'Himank', 'Neelay', 'Sakcham', 'Sid'}

In [7]:
st[1]
st                            #slicing not allowed

TypeError: ignored

In [8]:
#dictionary{key:value}
dict_1 = {1:'Apoorva',
          2:'Himank',
          3:'Manipal'}
dict_1

{1: 'Apoorva', 2: 'Himank', 3: 'Manipal'}

In [9]:
type(dict_1)                         #one key can have multiples values but the vice versa is not true

dict

In [10]:
type(st)

set

In [11]:
dict_1.values()                       #all the values

dict_values(['Apoorva', 'Himank', 'Manipal'])

In [12]:
dict_1.keys()                           #all the keys

dict_keys([1, 2, 3])

In [13]:
dict_1[1]

'Apoorva'

In [14]:
dict_1[3]

'Manipal'

In [15]:
dict_1[1] = 'Naman'                         #Values can be changed

In [16]:
dict_1

{1: 'Naman', 2: 'Himank', 3: 'Manipal'}

In [18]:
dict_2 = {'Name':['Apoorva','Himank','Neelay'],
          'College':['Bit','MIT','VIT'],
          'City':['bengaluru','Manipal','vellore']}
dict_2

{'Name': ['Apoorva', 'Himank', 'Neelay'],
 'College': ['Bit', 'MIT', 'VIT'],
 'City': ['bengaluru', 'Manipal', 'vellore']}

In [19]:
dict_2['Name'][2:]

['Neelay']

In [20]:
dict_2['Name'][0:]

['Apoorva', 'Himank', 'Neelay']

In [24]:
dict_2['Name'][-2:]                       #Right to left first 2

['Himank', 'Neelay']

In [26]:
dict_2['Name'][1:3]                        #left to right last 2

['Himank', 'Neelay']

In [29]:
a = input("Enter student's name")
b = input("Enter students college")
print(a+ ' is studying at '+b)

Enter student's nameNeelay
Enter students collegeVit
Neelay is studying at Vit

In [35]:
a = int(input('enter the value of a '))
if a>9:                                                                         #conditional statements
  print (' {} is greater than 9'.format(a))
elif  a==9:
   print (' {} is equal to 9'.format(a))
else:
  print (' {} less than 9'.format(a))

enter the value of a 122
 122 is greater than 9

In [38]:
#For loop and while loop

for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9